<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
  <div class="w3-cell-row">

    <div class="w3-container w3-col s0 m1 l2"></div>

    <div class="w3-container w3-col s12 m10 l8">
      <div class="w3-center">
        <h3>2019 Novel Coronavirus (COVID-19) Stats</h3>
        <a href="DearCovid" class="w3-button w3-yellow w3-block">Dear COVID-19</a>
        </br>
        <a href="cc" class="w3-button w3-lime w3-block">Confirmed Cases</a>
        </br>
        <a href="dcc" class="w3-button w3-green w3-block">Daily Confirmed Cases</a>
        </br>
        <a href="pzc" class="w3-button w3-teal w3-block">Adjusted Cases</a>
        </br>
      </div>
      <div class="w3-card-4">
        <header class="w3-container  w3-center w3-black">
          <h3>Information</h3>
        </header>
        
        <div class="w3-container w3-white ">
          <p>
            Click on a country to hide the country.</br>
            Double click on a country to show only that country.
          </p>
        </div>
        <div class="w3-container w3-lime">
          <p></p>
        </div>
        
        <div class="w3-container w3-white ">
          <p>
            Confirmed Cases:</br>
            Cumulative number of confirmed cases</br></br>
            Daily Confirmed Cases:</br>
            Number of confirmed cases per day</br></br>
            Adjusted Cases:</br>
            Cumulative number of confirmed cases but, first recorded patient is set on day one. This allows us to compare which country is doing better
            than the another.
          </p>
        </div>
        <div class="w3-container w3-lime">
          <p></p>
        </div>
        <div class="w3-container w3-white ">
          <p>
            The effectiveness of a lockdown is also correlatable with the number of cases through the strictness measure provided in the legend.</br></br>

            An interesting comparison is between Malaysia and Canada. These two countries had their first patient in the same week. Currently, Malaysia has a higher
            strictness rating compared to Canada. They were neck in neck for around the first 50 days. But after that, Canada surpassed Malaysia and the gap 
            kept widening.</br>
            <!-- If you find an interesting comparison, do share your findings with me on my 
            <a href="https://www.linkedin.com/in/amir-iskandar-331999160/">
              LinkedIn</a>. -->
          </p>
        </div>
        <div class="w3-container w3-black">
          <p></p>
        </div>
        
        <footer class="w3-container w3-black">
           <p></p>
        </footer>
        
      </div>

      <div class="w3-container w3-center">
        <div class="w3-container">
            <p>
              For educational purposes only.</wbr>
              Data from
            <a
              href="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv">
              here</a> and
            <a href="https://ocgptweb.azurewebsites.net/CSVDownload">
              here</a>.</br>

              Made with love<!-- by Amir Iskandar-->.</wbr>
              <a href="https://www.linkedin.com/in/amir-iskandar-331999160/">
                LinkedIn</a> | 
              <a href="https://github.com/supmir/">
                GitHub</a> 
            </p>
        </div>
      </div>
      </br>
    </div>

    <div class="w3-container w3-col s0 m1 l2"></div>
  </div>
</body>

</html>
