{% extends "companyProfile/base.html" %}

{% block title %}Contact Us{% endblock%}

{% block content %}
<div class="w3-row">
    <div class="w3-col w3-container s0 m1 l2"></div>
    <div class="w3-col w3-container s12 m10 l8">
        <div class="w3-card-4">

            <header class="w3-container w3-gray">
                <h1>Contact Us</h1>
            </header>

            <div class="w3-container">
                <p>Have any inquiries? Contact us!</p>
            </div>

            <footer class="w3-container w3-gray">
                <div class="w3-bar">
                    <a class="w3-bar-item w3-button w3-gray" style="width:50%"
                        href="https://wa.me/60105899775"><i class="fa fa-whatsapp"></i> WhatsApp</a>
                    <a class="w3-bar-item w3-button w3-gray" style="width:50%"
                        href="mailto:iskandar.amir@gmail.com"><i class="fa fa-envolope"></i> Send an Email</a>
                </div>
            </footer>

        </div>
    </div>
    <div class="w3-col w3-container s0 m1 l2"></div>
</div>
{% endblock %}