{% extends "companyProfile/base.html" %}


{% block title %}Products{% endblock%}

{% block content %}
{% if products %}
{% for product in products %}
<div class="w3-row">
    <div class="w3-col w3-container s0 m1 l2"></div>
    <div class="w3-col w3-container s12 m10 l8">
        <div class="w3-bar">
            <a class="w3-bar-item w3-button {% cycle 'w3-black' 'w3-gray' %}" style="width:100%"
                href="/corexs/products/{{ product.id }}/">{{ product.product_name }}</a>
        </div>
    </div>
    <div class="w3-col w3-container s0 m1 l2"></div>
</div>
{% endfor %}
{% else %}
<p>No products are available.</p>
{% endif %}
{% endblock %}