{% extends "companyProfile/base.html" %}


{% block title %}Products{% endblock%}

{% block style %}

.flex-container {
display: flex;
flex-wrap: wrap;
padding: 10px 10px;

justify-content: space-around;

}.flex-container .w3-card {
margin: 10px;
min-width:100px;
flex-grow: 1;
}

.flex-container a{
width:100%;
}

{% endblock %}

{% block content %}
{% if products %}
<div class="w3-row">
    <div class="w3-col w3-container s0 m1 l2"></div>
    <div class="w3-col w3-container s12 m10 l8">
        <div class="flex-container">
            {% for product in products %}
            <div class="w3-card w3-center">
                <a class="w3-button" href="/corexs/products/{{ product.id }}/">
                    <p> {{ product.product_name }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="w3-col w3-container s0 m1 l2"></div>
</div>
{% else %}
<p>No products are available.</p>
{% endif %}
{% endblock %}