<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.product_name }}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
    img {
        max-width: 100%;
        max-height: 100%;
    }
</style>

<body>
    <div class="w3-row">
        <div class="w3-col w3-container s0 m1 l2"></div>
        <div class="w3-col w3-container s12 m10 l8">

            <h1>{{ product.product_name }}</h1>
            <h3>{{ product.description }}</h3>
        </div>
        <div class="w3-col w3-container s0 m1 l2"></div>
    </div>


    {% for photo in product.photos_set.all %}
    <div class="w3-row">
        <!-- <div class="w3-col w3-container s0 m1 l2"></div> -->

        {% cycle '<div class="w3-col w3-container s0 m2 l4">' '<div hidden>' %}
            <p>
                {{ photo.short_description }}
            </p>
        </div>
        <div class="w3-col w3-container s12 m10 l8">
            <img src="{{ photo.link }}" alt="{{ photo.short_description }}">
        </div>
        {% cycle '<div hidden>' '<div class="w3-col w3-container s0 m2 l4">' %}
            <p>
                {{ photo.short_description }}
            </p>
        </div>
        <!-- <div class="w3-col w3-container s0 m1 l2"></div> -->


<!-- 

        <div class="w3-col w3-container s0 m1 l2"></div>
        <div class="w3-col w3-container s12 m10 l8">
            <img src="{{ photo.link }}" alt="{{ photo.short_description }}">
        </div>
        <div class="w3-col w3-container s0 m1 l2"></div> -->
    </div>
    {% endfor %}

    {% for video in product.videos_set.all %}

    <div class="w3-row">
        <div class="w3-col w3-container s0 m1 l2"></div>
        <div class="w3-col w3-container s12 m10 l8">
            <!-- <div style="position:relative; width:100%; height:0px; padding-bottom:75%;"> -->
            <div style="position:relative; width:100%; height:0px; padding-bottom:56.25%;">
                <iframe style="position:absolute; left:0; top:0; width:100%; height:100%" src="{{video.link}}">
                </iframe>
            </div>
        </div>
        <div class="w3-col w3-container s0 m1 l2"></div>
    </div>

    {% endfor %}
</body>

</html>