{% extends "companyProfile/base.html" %}

{% block title %}{{ product.product_name }}{% endblock %}
{% block style %}
img {
max-width: 100%;
max-height: 100%;
}

{% endblock %}

{% block content %}
    <div class="w3-row">
        <div class="w3-col w3-container s0 m1 l2"></div>
        <div class="w3-col w3-container s12 m10 l8">

            <h1>{{ product.product_name }}</h1>
            <h3>{{ product.description }}</h3>
        </div>
        <div class="w3-col w3-container s0 m1 l2"></div>
    </div>


    {% for conten in contents %}
    {% if conten.content_type == "text" %}
    <p>{{ conten.content_type }}</p>
    (% endif %)
    {% endfor %}
{% endblock %}